*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$textColor:#ACA592;
$mainColor: #FFAE2B;
body{
    background-color: #181511;
}
.container{
    max-width: 1492px;
    margin: auto;
    padding: 25px 120px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

@media(max-width:980px){
    .container{
        padding: 25px;
    }
}
